Python output

In [1]:
# Python is a case sensitive language
print("hello roy from python")

hello roy from python

In [2]:
print(7)

7

In [3]:
print(True)

True

In [4]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

# 2. Python data type

here intiger datatype limit= 1e308

1) Integer
2) boolean
3) List
4) String
5) Tuple
6) distionary
7) Sets
8) type

In [5]:
# Integer
print(8)
# 1*10^308
print(1e309)

8
inf

In [7]:
# boolean
print(True)
print(False)

True
False

In [8]:
# Text/String
print('Hello World')

Hello World

In [9]:
# complex
print(5+6j)

(5+6j)

In [10]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [12]:
# Tuple always with () and its can not change
print((1,2,3,4))

(1, 2, 3, 4)

In [13]:
#Sets always start with {} and its contain distinc values
print({1,1,3,4,5})

{1, 3, 4, 5}

In [14]:
# distionary always with {} with a key and its like json formate
print({"name":"Roy", "gender":"male", "age":20})

{'name': 'Roy', 'gender': 'male', 'age': 20}

In [16]:
# type for check data type
print(type([2,3,4]))
print(type((2,3,4)))
print(type({2,3,4}))

<class 'list'>
<class 'tuple'>
<class 'set'>

 # 3. Variables
1) Static Vs Dynamic Typing
2) Static Vs Dynamic Binding
3) stylish declaration techniques

In [17]:
# for c/c++
name = "Roy"
print(name)
a=2
b=4
print(a+b)

Roy
6

In [28]:
# Dynamic Typing
a = 5
print(a)
# Static Typing
#not allow for python
# int a = 5

5

In [26]:
# Dynamic Binding
a=5
print(a)
a="roy"
print(a)

# static binding
#not allow for python
# int a =5

5
roy

# comments

In [29]:
# this is a comment
# second line
a = 4
b = 6 # like this
# second comment
print(a+b)

10

# 4. Keywords & Identifiers

In [31]:
# Identifiers
# You can't start with a digit
name1 = 'Roy'
print(name1)
# You can use special chars -> _
_ = 'koushik'
print(_)
# identiers can not be keyword

Roy
koushik

# 5. User Input

In [32]:
# Static Vs Dynamic
input('Enter Email')

Enter Emailory@gamil.com

'ory@gamil.com'

In [35]:
# take input from users and store them in a variable
#print(type(fnum),type(snum))
# add the 2 variables

fname = input("Enter first name: ")
lname = input("Enter last name: ")

name= fname+' '+lname

print(name)
print(type(name))

Enter first name: roy
Enter last name: koushik
roy koushik
<class 'str'>

# 6. Type Conversion

In [39]:
# Implicit Vs Explicit
print(5+5.6)
print(type(5),type(5.6))

#print(4 + '4') #unsupported operand

10.6
<class 'int'> <class 'float'>

In [41]:
# Explicit means user define
# str -> int
#int(4+5j)

# int to str
str(5)

# float
float(4)

4.0

# 7. Literals
variable values called literals

In [43]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [44]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [45]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [46]:
k = None
a = 5
b = 6
print('Program exe')

Program exe

# 8. Operators

In [47]:
# Arithmetic
# Relational
# Logical
# Bitwise
# Assignment
# Membership